:root{
    --primary_color: #069fe7
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--primary_color);
    display: flex;
    justify-content: center;
    align-items: center;
}

section{
    background-color: white;
    padding: 2em;
    margin: 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 30em;
    height: 100%;
    border-radius: 1em;
}

.formulario{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.input{
    display: flex;
    flex-direction: column;
    gap: .7em;
}

.input input{
    width: 100%;
    padding: 10px;
}

.buttonSubmit{
    padding: .5em;
    background-color: var(--primary_color);
    color: white;
    border: 0;
    border-radius: .5em;
    cursor: pointer;
}

.error-text{
    color: red;
}
