<%- include('includes/Head'); %>

  <section class="container">
    <h1>
      <%= variavelLocal %>
    </h1>
    <form action="/" method="post">
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    </form>
  </section>

  <%- include('includes/footer')%>